<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style-login.css">
</head>
<body>
    <header>
        <a href="/" class="link-home"><img id="logo" src="/images/logo-mercado-liebre.svg" alt="logo"></a>
        <form method="post" class="search">
            <input type="search" placeholder="Buscar productos, marca">
            <button type="reset" name="reset"><i class="fas fa-search"></i></button>
        </form>
        <p class="paymentmethod">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>
        <nav id="navbar">
            <ul class="nav-store">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul class="nav-user">
                <li>
                    <a href="/register" class="register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login" class="login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    Mis Compras <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="" method="post">
            <h2>Iniciar sesión</h2>
            <input type="text" name="user" id="user" class="controls" placeholder="Nombre de usuario" minlength="5" required>
            <input type="password" name="password" id="password" class="controls" placeholder="Contraseña" minlength="6" required>
            <section class="buttons">
                <a href="/" id="send">Enviar</a>
                <!-- <input type="submit" name="prueba-enviar" value="ENVIAR"> -->
            </section>
        </form>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card fIcons"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="text-margin text-general">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift fIcons"></i>
            <h3>Envio gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield fIcons"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <h3 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
</body>
</html>