<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="nombre-de-usuario" >Nombre de usuario</label>
    <input type="text" name="nombre-de-usuario" id="nombre-de-usuario" placeholder="Ingrese su nombre de usuario"><br>

    <h4>Ingrese su contraseña</h4>
    <label for="password">
        <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">
    </label><br>

    <button type="submit">Enviar formulario</button>
</body>
</html>