* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: "roboto";
}

/* -------------> HEADER <------------- */

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #EAC923;
    padding: 24px;
}

.link-home {
    width: 50%;
}

.link-home #logo {
    width: 100%;
}

.nav-search {
    width: 45%;
    margin: auto 0;
    margin-left: 10px;
    position: relative;
    display: flex;
}

.nav-search input {
    width: 90%;
    border: 0px;
    padding: 5%;
    padding-right: 0;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1rem;
}

.nav-search button {
    background-color: white;
    border: 0;
    padding: 5%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1rem;
}

.paymentmethod {
    text-align: center;
    margin: auto;
    width: auto;
    padding: 15px 0 15px 10px;
}

#navbar {
    width: 100%;
    margin: 20px 0 0;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.nav-store {
    text-align: center;
    display: flex;
    margin-bottom: 20px;
    margin: auto 0;
}

.nav-user {
    text-align: center;
    display: flex;
    margin: auto 0;
}

.register, .login {
    color: #000;
    text-decoration: none;
}

.menu {
    text-align: center;
    font-size: 24px;
    color: #ebebeb;
    width: auto;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #1259c3;
}

/* -------------> MAIN <------------- */

main {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.form {
    width: 70%;
    max-width: 500px;
    /* background-color: white; */
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    width: 100%;
}

.controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 0;
    font-size: 1rem;
}

.birthdate, .user-profile, .interest, .photo-porfile {
    margin-bottom: 16px;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}

#birthdate {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 4px;
}

.user-profile label {
    margin: 0 20px 0 5px;
    cursor: pointer;
}

.interest label {
    margin: 0 18px 0 5px;
    cursor: pointer;
}

.photo-porfile input {
    font-size: 1rem;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

#send {
    width: 100%;
    text-decoration: none;
    border: 0;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    padding: 10px;
    background-color: #3483fa;
    color: #fff;
    transition-property: background-color ;
    transition-duration: 0.5s;
}

#send:hover {
    background-color: #0022AA;
}

#cancel {
    width: 100%;
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(52, 131, 250, 0.15);
    color: #3483fa;
    font-weight:bold;
    cursor: pointer;
}

/* -------------> FOOTER <------------- */

footer {
    padding-top: 50px;
    background-color: white;
    text-align: center;
    color: #666;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fIcons{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
    transition: color 0.5s;
}

footer article{
    margin-bottom: 10px;
}

footer article:hover .fIcons{
    color: #3483fa;
}

footer h3 {
    font-size: 16px;
    color: #666;
    margin: 0;
}

footer p {
    font-size: 12px;
    color: #666;
    margin: 0;
}

#copyright {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #666;
    margin-top: 50px;
    padding-bottom: 15px;
}

/* -------------> MEDIAS <------------- */

@media (max-width: 360px) {
    form {
        width: 90%;
    }

    #send {
        margin: 0 0 15px;
    }

/* ---------> HEADER <--------- */

    #navbar {
        display: none;
    }
}

@media (min-width: 361px) {
    .buttons {
        justify-content: space-around;
    }

    #send {
        width: 45%;
    }

    #cancel {
        width: 45%;
    }

/* ---------> HEADER <--------- */

    .menu {
        display: none;
    }

    .nav-store {
        max-width: 400px;
        justify-content: space-between;
    }

    .nav-user {
        max-width: 380px;
        justify-content: space-between;
    }

/* -------------> FOOTER <------------- */

    footer {
        justify-content: space-around;
    }

    footer article {
        width: 28%;
    }
}

@media (min-width: 769px) {

/* ---------> HEADER <--------- */

    .link-home {
        width: 40%;
    }

    .nav-search {
        width: 32%;
    }

    .paymentmethod {
        width: 25%;
    }

    #navbar {
        display: flex;
    }

    .nav-store{
        flex-basis: 380px;
    }

    .nav-user {
        margin-left: auto;
        flex-basis: 350px;
    }
}