/* 
PALETA DE COLORES
Amarillo: #EAC923;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto";
    background-color: #ebebeb;
}

/* -------------> HEADER <------------- */

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #EAC923;
    padding: 24px;
}

.link-home {
    width: 50%;
}

.link-home #logo {
    width: 100%;
}

.search {
    width: 45%;
    margin: auto;
    /* margin-left: 2%; */
    position: relative;
    /* box-sizing: border-box; */
}

.search input {
    width: 90%;
    border: 0px;
    padding: 5%;
    padding-right: 7%;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1rem;
}

.search button {
    width: auto;
    background-color: white;
    border: 0;
    position: absolute;
    margin: auto;
    padding: 5%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1rem;
}

.paymentmethod {
    text-align: center;
    margin: auto;
    width: auto;
    padding: 15px 0 5px 10px;
}

#navbar {
    width: 100%;
    margin: 20px 0 0;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.nav-store {
    text-align: center;
    display: flex;
    margin-bottom: 20px;
    margin: auto 0;
}

.nav-user {
    text-align: center;
    display: flex;
    margin: auto 0;
}

.register, .login {
    color: #000;
    text-decoration: none;
}

.menu {
    text-align: center;
    font-size: 24px;
    color: #ebebeb;
    width: auto;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #1259c3;
}

/* -------------> /HEADER <------------- */

.banner img {
    width: 100%;
}

/* -------------> MAIN <------------- */

main{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

section article {
    width: 49%;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-product {
    width: 100%;
}

.caract-product {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

.animation-car {
    display: block;
    font-size: 16px;
    padding: 5px;
    background-color: white;
    color: #39b54a;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #39b54a;
    right: 20px;
    top: -15px;
    position: absolute;
    box-sizing: border-box;
}

.text-general {
    font-size: 12px;
}

.text-tittle {
    margin: 20px 0 10px;
    width: 100%;
    font-size: 24px;
    color: #666;
}

.text-price {
    /* width: 40%; */
    font-size: 18px;
    margin: 0;
}

.text-discount {
    width: 40%;
    font-size: 16px;
    color: #39b54a;
    margin: auto;
}

.text-description {
    font-size: 16px;
    color: #666;
    margin-bottom: auto;
}

.text-center {
    text-align: center;
}

.text-margin {
    margin: 0;
}

.caract-product div {
    display: flex;
    margin: 5px 0;
}

.product-num {
    display: flex;
    /* margin: 0; */
}

/* -------------> ANIMATION <------------- */

.caract-product i {
    transition: transform 2s;
}

section article:hover .caract-product i{
    animation: car-rotate 3.5s infinite;
}

@keyframes car-rotate {
    100% { transform: rotateZ(-360deg) };
}

/* -------------> FOOTER <------------- */

footer {
    padding-top: 50px;
    background-color: white;
    text-align: center;
    color: #666;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fIcons{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
    transition: color 0.5s;
}

footer article{
    margin-bottom: 10px;
}

footer article:hover .fIcons{
    color: #3483fa;
}

#copyright {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #666;
    margin-top: 50px;
    padding-bottom: 15px;
}

/* -------------> MEDIAS <------------- */

@media (max-width: 360px) {
    .text-description {
        display: none;
    }

    #navbar {
        display: none;
    }

    section article {
        width: 100%;
    }
}

@media (min-width: 361px) {
    .menu {
        display: none;
    }

    .nav-store {
        max-width: 400px;
        justify-content: space-between;
    }

    .nav-user {
        max-width: 380px;
        justify-content: space-between;
    }

/* -------------> ANIMATION <------------- */

    .caract-product .text-description {
        display: none;
        visibility: hidden;
    }

    section article:hover .caract-product .text-description {
        display: block;
        visibility: visible;
    }

    section article:hover {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }

/* -------------> FOOTER <------------- */

    footer {
        justify-content: space-around;
    }

    footer article {
        width: 28%;
    }

}

@media (min-width: 769px) {
    section article {
        width: 24%;
    }

    .link-home {
        width: 40%;
    }

    .search {
        width: 30%;
    }

    .paymentmethod {
        width: 25%;
    }

    #navbar {
        display: flex;
    }

    .nav-store{
        flex-basis: 380px;
    }

    .nav-user {
        margin-left: auto;
        flex-basis: 350px;
    }
}